/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "Digit";
    src: url("../system/fonts/digit.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}