.light{
    margin: 0 auto;
    margin-top: 2rem;
    width: 15rem;
    height: 15rem;
    background: #FF0000;
    border: .5rem solid rgba(0, 0, 0, 0.3);
    box-shadow: 0rem .5rem 3rem #FF0000;
    border-radius: 100%; 
}