@media (min-width: 0px) and (max-width: 319px) {
    html{
        font-size: .6em;
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    html{
        font-size: .6em;
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    html{
        font-size: .6em;
    }
}

@media (min-width: 425px) and (max-width: 766px) {
    html{
        font-size: .6em;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    html{
        font-size: .7em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    html{
        font-size: .7em;
    }
}